.dot {
    background-color: tomato;
    width:5px;
    height: 5px;
    border-radius: 50%;
}

.cog__dot {
    position:absolute;
    top: -6px;
    margin-left:2px;
}

.badge {
    background-color: tomato;
    width:18px;
    height:18px;
    border-radius: 50%;
    display:flex; /* 여기서 flex가 필요한 이유는 "자식인 (1)"을 정렬시키기 위해서.*/
    font-size: 11px;
    justify-content: center;
    align-items: center;
    color:ivory;
}