.status-bar {
    display:flex;
    font-size:14px;
    background-color: white;
    justify-content: center;
    position:fixed;
    top:0px;
    right:0px;
    left:0px;
    padding:3px;
}

.status-bar__column {
    width: 33%;
}

/* .status-bar:nth-child(2) > span { */
.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar__column:last-child i, .status-bar__column:last-child span {
    margin-left:5px;
}