.user-component {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.user-component__column:first-child {
    display:flex;
    align-items: center;
}

.user-component__column:last-child {
    color:rgba(0,0,0,0.3);
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .friends-screen__channel .user-component__column {
    display:flex;
    justify-content: flex-end;
} */

.user-component__avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 43%;
    margin-right: 16px;
}

.user-component__title {
    font-weight: 600;
    font-size: 15px;
}

.user-component__subtitle {
    margin-top: 8px;
    color:rgba(0,0,0,0.4);
    font-size: 14px;
}

.user-component__avatar--xl {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 43%;
    margin-right: 16px;
}

.user-component__avatar--sm {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 43%;
    margin-right: 16px;
}

.user-component__title-not-bold {
    font-weight: 400;
}

.user-component__time {
    margin-bottom: 8px;
    font-size: 13px;
}